{% extends "index.html" %}
{% load static %}


    <link rel="stylesheet" href="{%static 'css/style.css'%}">
<body>
    {% block contenido %} 
    <h1 class="texto">Clientes</h1>
    <h1 class="texto">Registrar Cliente</h1>
    <div>
        <form class="fieldset" action="/RotoARG/clientes/" method="POST">
            {% csrf_token %}
            <div>
                    <label for="razonsocial">Razon Social</label>
                    <input type="text" name="razonsocial" placeholder="">
                </div>

                <div>
                    <label for="cuit">CUIT</label>
                    <input type="number" name="cuit" placeholder="">
                </div>           

                <div>
                    <label for="direccion">Direccion</label>
                    <input type="text" name="direccion" placeholder="">
                </div>

                <div>
                    <label for="telefono">Telefono</label>
                    <input type="number" name="telefono" placeholder="">
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="@">
                </div>

                <div>
                    <button type="submit" value="Enviar" class="btn btn-primary btndj mt-3">Enviar</button>
                </div>
        </form>
    </div>   
    <br>
    <h1 class="texto">Buscar Cliente</h1>
    <!-- BUSCAR -->
    <div>
        <form class="fieldset" action="/RotoARG/buscar_cliente" method="GET">
            <input type="email" name="email" placeholder="email" />
            <button type="submit" class="btn btn-primary btndj mt-3 mb-5">Buscar Cliente por email</button>
        </form>
    </div>
    <div class="fieldset">
        {% if clientes %}
        <ul>
            {% for cliente in clientes %}
            <li>Razon Social: {{cliente.razon_social}}</li>
            <li>Cuit: {{cliente.cuit}}</li>
            <li>Direccion: {{cliente.direccion}}</li>
            <li>Telefono: {{cliente.telefono}}</li>
            <li>Email: {{cliente.email}}</li>
            {% endfor %}
        </ul>
        {% endif %}
            <!-- BUSCAR -->
        

        
    </div>
    {% endblock %}
</body>
</html>