{% extends "index.html" %}
{% load static %}


    <link rel="stylesheet" href="{%static 'css/style.css'%}">
<body>
    {% block contenido %} 
    <h1 class="texto">Clientes Particulares</h1>

    <h5 class="texto">Registrar Cliente</h3>
    <div>
        <form class="fieldset" action="/RotoARG/particulares/" method="POST">
            {% csrf_token %}
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="">
                </div>

                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" placeholder="">
                </div>

                <div>
                    <label for="dni">DNI</label>
                    <input type="number" name="dni" placeholder="">
                </div>           

                <div>
                    <label for="direccion">Direccion</label>
                    <input type="text" name="direccion" placeholder="">
                </div>

                <div>
                    <label for="telefono">Telefono</label>
                    <input type="number" name="telefono" placeholder="">
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="@">
                </div>

                <div>
                    <input type="submit" value="Enviar">
                </div>
        </form>
    </div>
    <br>
    <!-- BUSCAR -->
    <h5 class="texto">Buscar Cliente</h3>
    <div>
        <form class="fieldset" action="/RotoARG/buscar_clientes_particulares" method="GET">
            <input type="email" name="email" placeholder="Buscar por Mail" />
            <button type="submit" class="btn btn-primary btndj">Buscar</button>
        </form>
    </div>   
    <div class="fieldset">
        {% if clientes_particulares %}
        <ul>
            {% for cliente in clientes_particulares %}
            <li>Nombre: {{cliente.nombre}}</li>
            <li>Apellido: {{cliente.apellido}}</li>
            <li>DNI: {{cliente.dni}}</li>
            <li>Direccion: {{cliente.direccion}}</li>
            <li>Telefono: {{cliente.telefono}}</li>
            <li>Email: {{cliente.email}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>