{% extends "index.html" %}
{% load static %}


    <link rel="stylesheet" href="{%static 'css/style.css'%}">
<body>
    {% block contenido %} 
    <h1 class="texto">Empleados</h1>
    <h1 class="texto">Registrar Empleado</h1>

    <div>
        <form class="fieldset" action="/RotoARG/empleados/" method="POST">
            {% csrf_token %}    
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="">
                </div>

                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" placeholder="">
                </div>

                <div>
                    <label for="fechanacimiento">Fecha de nacimiento</label>
                    <input type="date" name="fechanacimiento" placeholder="">
                </div>

                <div>
                    <label for="dni">DNI</label>
                    <input type="number" name="dni" placeholder="">
                </div>

                <div>
                    <label for="cuil">CUIL</label>
                    <input type="number" name="cuil" placeholder="">
                </div>

                <div>
                    <label for="wwid">WWID</label>
                    <input type="number" name="wwid" placeholder="">
                </div>

                <div>
                    <label for="sector">Sector</label>
                    <input type="text" name="sector" placeholder="">
                </div>

                <div>
                    <label for="antiguedad">Inicio de actividad</label>
                    <input type="date" name="antiguedad" placeholder="">
                </div>

                <div>
                    <label for="direccion">Direccion</label>
                    <input type="text" name="direccion" placeholder="">
                </div>

                <div>
                    <label for="telefono">Telefono</label>
                    <input type="number" name="telefono" placeholder="">
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="@">
                </div>

                <div>
                    <label for="art">ART</label>
                    <input type="text" name="art" placeholder="">
                </div>                

                <div>
                    <label for="cbu">CBU</label>
                    <input type="number" name="cbu" placeholder="">
                </div>               

                <div>
                    <button type="submit" value="Enviar" class="btn btn-primary btndj mt-3">Enviar</button>
                </div>
        </form>
    </div>
    <br>
    <h1 class="texto">Buscar Empleado</h1>
    <!-- BUSCAR -->
    <div>
        <form class="fieldset" action="/RotoARG/buscar_empleado" method="GET">
            <input type="number" name="dni" placeholder="Buscar por DNI" />
            <button type="submit" class="btn btn-primary btndj mt-3 mb-5">Buscar</button>
        </form>
    </div>   
    <div class="fieldset">
        {% if empleados %}
        <ul>
            {% for empleado in empleados %}
            <li>Nombre: {{empleado.nombre}}</li>
            <li>Apellido: {{empleado.apellido}}</li>
            <li>Fecha de Nacimiento: {{empleado.fecha_nacimiento}}</li>
            <li>DNI: {{empleado.dni}}</li>
            <li>CUIL: {{empleado.cuil}}</li>
            <li>WWID: {{empleado.wwid}}</li>
            <li>Sector: {{empleado.sector}}</li>
            <li>Inicio de actividades: {{empleado.antiguedad}}</li>
            <li>Direccion: {{empleado.direccion}}</li>
            <li>Telefono: {{empleado.telefono}}</li>
            <li>Email: {{empleado.email}}</li>
            <li>ART: {{empleado.art}}</li>
            <li>CBU: {{empleado.cbu}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>