{% extends "index.html" %}
{% load static %}


    <link rel="stylesheet" href="{%static 'css/style.css'%}">
<body>
    {% block contenido %} 
    <h1 class="texto">Proveedores</h1>
    <h1 class="texto">Registrar Proveedor</h1>
    
    <div>
        <form class="fieldset" action="/RotoARG/proveedores/" method="POST">
            {% csrf_token %}
                <div>
                    <label for="razonsocial">Razon Social</label>
                    <input type="text" name="razonsocial" placeholder="">
                </div>

                <div>
                    <label for="cuit">CUIT</label>
                    <input type="number" name="cuit" placeholder="">
                </div>           

                <div>
                    <label for="direccion">Direccion</label>
                    <input type="text" name="direccion" placeholder="">
                </div>

                <div>
                    <label for="telefono">Telefono</label>
                    <input type="number" name="telefono" placeholder="">
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="@">
                </div>

                <div>
                    <label for="cbu">CBU</label>
                    <input type="number" name="cbu" placeholder="">
                </div>

                <div>
                    <input type="submit" value="Enviar">
                </div>
        </form>
    </div>
    <br>
    <h1 class="texto">Buscar Proveedor</h1>
    <!-- BUSCAR -->
    <div>
        <form class="fieldset" action="/RotoARG/buscar_proveedor" method="GET">
            <input type="email" name="email" placeholder="email" />
            <button type="submit" class="btn btn-primary btndj">Buscar</button>
        </form>
    </div>
    <div class="fieldset">
        {% if proveedores %}
        <ul>
            {% for proveedor in proveedores %}
            <li>Razon Social: {{proveedor.razon_social}}</li>
            <li>Cuit: {{proveedor.cuit}}</li>
            <li>Direccion: {{proveedor.direccion}}</li>
            <li>Telefono: {{proveedor.telefono}}</li>
            <li>Email: {{proveedor.email}}</li>
            <li>CBU: {{proveedor.cbu}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>