{% extends "index.html" %}
{% load static %}


    <link rel="stylesheet" href="{%static 'css/style.css'%}">
<body>
    {% block contenido %} 
    <h1 class="texto">Empleados Tercerizados</h1>
    <h1 class="texto">Registrar Empleado Tercerizado</h1>
    <div>
        <form class="fieldset" action="/RotoARG/tercerizados/" method="POST">
            {% csrf_token %}
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="">
                </div>

                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" placeholder="">
                </div>

                <div>
                    <label for="fechanacimiento">Fecha de nacimiento</label>
                    <input type="date" name="fechanacimiento" placeholder="">
                </div>

                <div>
                    <label for="dni">DNI</label>
                    <input type="number" name="dni" placeholder="">
                </div>

                <div>
                    <label for="cuil">CUIL</label>
                    <input type="number" name="cuil" placeholder="">
                </div>           

                <div>
                    <label for="empresa">Empresa</label>
                    <input type="text" name="empresa" placeholder="">
                </div>

                <div>
                    <label for="area">Area</label>
                    <input type="text" name="area" placeholder="">
                </div>

                <div>
                    <label for="art">ART</label>
                    <input type="text" name="art" placeholder="">
                </div>

                <div>
                    <button type="submit" value="Enviar" class="btn btn-primary btndj mt-3">Enviar</button>
                </div>
        </form>
    </div>
    <br>
    <h1 class="texto">Buscar Empleado Tercerizados</h1>
    <!-- BUSCAR -->
    <div>
        <form class="fieldset" action="/RotoARG/buscar_tercerizado" method="GET">
            <input type="number" name="dni" placeholder="Buscar por DNI" />
            <button type="submit" class="btn btn-primary btndj mt-3 mb-5">Buscar</button>
        </form>
    </div>   
    <div class="fieldset">
        {% if tercerizados %}
        <ul>
            {% for tercerizado in tercerizados %}
            <li>Nombre: {{tercerizado.nombre}}</li>
            <li>Apellido: {{tercerizado.apellido}}</li>
            <li>Fecha de Nacimiento: {{tercerizado.fecha_nacimiento}}</li>
            <li>DNI: {{tercerizado.dni}}</li>
            <li>CUIL: {{tercerizado.cuil}}</li>
            <li>Empresa: {{tercerizado.empresa}}</li>
            <li>Area: {{tercerizado.area}}</li>
            <li>ART: {{tercerizado.art}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>